.ImageSegment {
    max-width: 13vw;
    height: auto;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.AboutText {
    text-align: center;
    position: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.DuelAligner {
   display: flex;
   flex-direction: row; 
}

.BarContainerL {
    background-color: #cccccc;
    width: 35%;
    margin-left: auto;
    margin-right: 2vh;
    text-align: center;
    border-radius: 15px;
}.BarContainerR {
    background-color: #cccccc;
    width: 35%;
    margin-right: auto;
    margin-left: 2vh;
    text-align: center;
    border-radius: 15px;
}


.skillC {
    width: 95%;
}

.skillCXX {
    width: 90%;
}

.skillAssembly {
    width: 55%;
}

.skillPython {
    width: 100%;
}

.skillJavascript {
    width: 80%;
}

.skillCS {
    width: 30%;
}

.skillJava {
    width: 35%;
}

.skillNetworking {
    width: 75%;
}

.skillTeamworkFlows {
    width: 65%;
}

.skillDatabases {
    width: 70%;
}

.skillML {
    width: 40%;
}

.skillAdaptability {
    width: 80%;
}

.ExperienceBar {
    background-color: #000000;
    border-radius: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
} 

.percentage {
    background-color: #0000ff;
    box-shadow: 0px 0px 10px #000080;
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 14px; 
    font-weight: bold;
    border-radius: 15px;
}