.TitleContainer {
    position: relative;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid #808080;
    background-color: #fff0f5;
    padding: 10px;
}

.InfoContainerS {
    display: flex;
    flex-direction: row;
    background-color: #fff0f5;
    width: 80%;
    margin: auto;
    border: 3px solid #808080;
}

.InfoContainerD {
    display: flex;
    flex-direction: row;
    padding: 5%;
}
.InfoSegment {
    text-align: center;
    margin: auto;   
    width: 40%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    border: 3px solid #808080;
    background-color: #fff0f5;
}